@font-face {
    font-family: domine;
    src: url(../resources/fonts/Domine/Domine-Regular.ttf);
}
@font-face {
    font-family: domine-bold;
    src: url(../resources/fonts/Domine/Domine-Bold.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(../resources/fonts/Roboto/roboto-light.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../resources/fonts/Roboto/roboto-bold.ttf);
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    filter: brightness(50%);
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}