
#main-profile-card {
    padding-top: 15px;
    min-width: 825px;
    min-height:650px;
    overflow:auto;
}

#profile-card {
    max-width: 300px;
}

#profile-body {
    font-family: domine-bold;
    padding-top:10px;
    padding-left: 15px;
    height:70%;
}
.info-container {
    overflow: auto;
	height: 80px;
	width: 100%;
	margin-right: 5px;
    margin-top:5px;
	float: left;
}
#appointments-card {
    min-height:80px;
    max-height:200px;
    margin: 20px;
}
#appointment-button {
    font-family: domine=bold;
}

#button-header a {
    font-family: domine-bold;
    color: white;
    font-size: 22px;
    padding: 15px;
}

.expand {
    margin-left: 10px;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
}

#assigned-med-list {
    margin: 20px;
}


.med-container {
    margin-left: 10px;
    overflow: auto;
    max-height:250px;
    margin-right:40px;
}

.med-list-item {
    margin-bottom: 30px;
}


.med-edit {
    padding: 10px;
    float:right;
}

.med-add {
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.med-notes {
    font-family:roboto-light;
    font-size: 15px;
    width: 568px;
    min-height: 100px
    /* overflow: auto; */
}

.med-title {
    font-size: 20px;
}

.back {
    position: absolute;
    right: 20px;
}

#new-medication-form {
    padding: 10px;
    background-color: slategray;
}

.med-input {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}

#update-med {
    float: right;
    padding-bottom: 10px;
}

.card-subsection-name, .card-subsection-h1{
    margin-left: 20px;
}

.btn-lg {
    background:none;
    width:260px;
    color:white;
    margin-top:35px;
}

.left {
    float:left;
}

.right {
    float:right;
    margin-right:15px;
}

.btn-sm{
    background:none;
    color:white;
    margin-top:45px;
}