<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <!-- Index CSS -->
    <link rel="stylesheet" type="text/css" href="./css/patient-edit-profile.css">
 </head>
 <body>
    <div id="background">
        <img src="./resources/images/bg.jpg" class="stretch" alt="" />
    </div>
    <!-- Dashboard Navbar -->
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <img class="navbar-logo" src="./resources/images/icons/logo-icon.png" width="40" height="40" alt="">
        </a>
    </nav>
    <!-- Profile Edit Page -->
    <div class="edit-profile">
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
              <div>
                <img src="./resources/images/mark.jpeg" class="profile-picture" alt="profile">
              </div>
            </div>
            
            <!-- User info edit -->
            <div class="col-md-9">
              <h4>Create User</h4>
              <br>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label id="patient_btn_label" class="btn btn-secondary active">
                  <input onclick="toggle(event)" type="radio" name="options" id="patient_btn" autocomplete="off"> New Patient
                </label>
                <label id="doctor_btn_label" class="btn btn-secondary">
                  <input onclick="toggle(event)" type="radio" name="options" id="doctor_btn" autocomplete="off"> New Doctor
                </label>
              </div>
              <br>
              <br>
              <% if (error == true) { %>
                <div class="alert alert-danger">Email already in use</div>
                <% } %>
              <form id="create-patient-form" class="form-horizontal" action="/create-patient" method="POST" role="form">
                <div class="form-group">
                  <label class="col-lg-3" for="fname">First Name:</label>
                  <div class="col-lg-8">
                    <input id="fname" name="fname" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3" for="lname">Last name:</label>
                  <div class="col-lg-8">
                    <input id="lname"  name="lname" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3" for="email">Email:</label>
                  <div class="col-lg-8">
                    <input id="email" name="email" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3" for="phone">Phone:</label>
                    <div class="col-lg-8">
                      <input id="phone"  name="phone"class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                        <label class="col-md-3" for="gender">Gender:</label>
                        <div class="col-md-8">
                          <input id="gender" name="gender" class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                           <label class="col-md-3" for="hcnum">Health Card Number:</label>
                           <div class="col-md-8">
                             <input id="hcnum" name="hcnum" class="form-control" type="text">
                           </div>
                         </div>
                <div class="form-group">
                  <label class="col-md-3" for="password">Password:</label>
                  <div class="col-md-8">
                    <input id="password"  name="password"class="form-control" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3" for="password_2">Confirm password:</label>
                  <div class="col-md-8">
                    <input id="password_2" class="form-control" type="password" onblur="validate()">
                  </div>
                </div>
                <div class ="col-md-3" id="msg">
                    
                </div>
                <div class="form-group">
                  <label class="col-md-3"></label>
                  <div class="col-md-8">   
                    <input id="submit_btn" type="submit" class="btn btn-primary" value="Submit">
                  </div>
                </div>
              </form>

              <form id="create-doctor-form" class="form-horizontal" action="/create-doctor" method="POST" role="form">
                <div class="form-group">
                  <label class="col-lg-3" for="fname">First Name:</label>
                  <div class="col-lg-8">
                    <input id="fname" name="fname" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3" for="lname">Last name:</label>
                  <div class="col-lg-8">
                    <input id="lname"  name="lname" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3" for="email">Email:</label>
                  <div class="col-lg-8">
                    <input id="email" name="email" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3" for="phone">Phone:</label>
                    <div class="col-lg-8">
                      <input id="phone"  name="phone"class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                        <label class="col-md-3" for="specialty">Specialty:</label>
                        <div class="col-md-8">
                          <input id="gender" name="specialty" class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-group">
                           <label class="col-md-3" for="address">Address:</label>
                           <div class="col-md-8">
                             <input id="hcnum" name="address" class="form-control" type="text">
                           </div>
                         </div>
                <div class="form-group">
                  <label class="col-md-3" for="password">Password:</label>
                  <div class="col-md-8">
                    <input id="password"  name="password"class="form-control" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3" for="password_2">Confirm password:</label>
                  <div class="col-md-8">
                    <input id="password_2" class="form-control" type="password" onblur="validate()">
                  </div>
                </div>
                <div class ="col-md-3" id="msg">
                  
                </div>
                <div class="form-group">
                  <label class="col-md-3"></label>
                  <div class="col-md-8">
                        <input id="submit_btn" type="submit" class="btn btn-primary" value="Submit">
                  </div>
                </div>
              </form>

            </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script>
      function validate(){
        let password1 = document.getElementById("password");
        let password2 = document.getElementById("password_2");
        let submitButton = document.getElementById("submit_btn");
        
        if(password1.value==password2.value){
          submitButton.disabled = false;
          return;
        } 
        else{
          document.getElementById("msg").innerHTML = "Password do not match!";
          submitButton.disabled = true;
        }
      }

      $(function() {
        $('#create-doctor-form').hide();
      });
      function toggle(e) {
        console.log(e.target.id);
        if (e.target.id == "patient_btn") {
          if ($("#patient_btn_label").hasClass("active")) {
           
          } else {
            $("#doctor_btn_label").removeClass("active");
            $("#patient_btn_label").addClass("active");
            $("#create-doctor-form").hide();
            $("#create-patient-form").show();
          }
        } else {
          if ($("#doctor_btn_label").hasClass("active")) {
           
          } else {
            $("#patient_btn_label").removeClass("active");
            $("#doctor_btn_label").addClass("active");
            $("#create-patient-form").hide();
            $("#create-doctor-form").show();
          }
        }
      }
   </script>

   </body>